:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4CAF50;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.fc{
  display: flex;
  flex-direction: column;
}
.fr{
  display: flex;
  flex-direction: row;
}
.jc-sb{
  justify-content: space-between;
}
.ai-c{
  align-items: center;
}
.ai-fs{
  align-items: flex-start;
}
.jc-c{
  justify-content: center;
}
.ai-fe{
  align-items: flex-end;
}
.g0-5{
  gap: 0.5rem;
}
.g1{
  gap: 1rem;
}
.p1{
  padding: 1rem;
}
.fw-b{
  font-weight: bold;
}
.w100{
  width: 100%;
}


.wallet-indicator{
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  pointer-events: none;
}

.wallet-indicator div{
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #4F46E5;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.wallet-indicator div span{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #10B981;
}

.wallet-indicator div img{
  width: 1.5rem;
  height: 1.5rem;
}
.wallet-indicator p{
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 70vw;
}

.card{
  border: 1px solid #E5E7EB;
  border-radius: 1rem;
}

.collection-item h4{
  margin: 0;
}
.collection-item img{
  height: 5rem;
  width: 5rem;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 0.5rem;
}
.collection-item p{
  text-align: left;
}

img.nft{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 0.5rem;
}